<section class="footer">

<div class="james">
  <h1>JAMES CONSULTING</h1>
  <p>500 Terry Francois Street
<br>
    San Francisco, CA 94158
    <br>
    Mail: info@mysite.com
    <br>
    Tel: 123-456-7890</p>


</div>

  <div class="menu">
    <h1> <p>Menu</p></h1>
    <ul><p>About</p></ul>
    <ul><p>Projects</p></ul>
    <ul><p>Services</p></ul>
    <ul><p>Tools & Tips</p></ul>
    <ul><p>contact</p></ul>
  </div>

  <div class="social">
    <h1>SOCIALS</h1>

    <div class="icon-f">    <i class="fab fa-facebook"></i>

      <i class="fab fa-twitter"></i></div>

      <br>

      <p>© 2023 by JAMES CONSULTING.  <br>
        Proudly created with Wix.com</p>





  </div>




</section>
