<style>
  .container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 350px 200px;
    gap: 0px 0px;
    grid-auto-flow: row;
  }

  .cover { grid-area: 1 / 1 / 3 / 5; }

  .text-card { grid-area: 2 / 2 / 3 / 4; }

</style>



  <div class="container">
                        <div class="cover">
                          <img src="https://cdn.pixabay.com/photo/2016/02/19/11/06/man-1209574_960_720.jpg" alt="snowman"  style="width: 100%">
                        </div>
                                             <div class="text-card">
<h4>Developing Innovative Strategies</h4>
                                               <h1>ACHIEVING  GROWTH</h1>
                                               <button> <h5>Book A Consultation</h5> </button>

                                             </div>
                                                                      </div>
